WebServer/node_modules
WebServer/uploads
WebServer/mockupsFiles/dbMockupAttachmentsStorage/*
WebServer/mockupFiles/dbMockupAttachmentsStorage/*
WebServer/.vscode
ComposeService/.idea
ComposeService/__pycache__
ComposeService/venv
ComposeService/dataset/*
ComposeService/krn_links_and_download/humdrum/.idea
ComposeService/krn_links_and_download/humdrum/venv
