<h1>Login</h1>

<body>
    <label for="email">Email</label>
    <input type="email" id="emailInput" name="email" required>
    <label for="password">Password</label>
    <input type="password" id="passwordInput" name="password" required>
    <button type="button" onclick="login()">Login</button>
    <a href="/register">Register</a>
</body>

<script>
    async function login() { 
        let emailInput = document.getElementById('emailInput');
        let passwordInput = document.getElementById('passwordInput');
        let data = { email: emailInput.value, password: passwordInput.value}
        return await fetch('/login', {
            method: "POST", 
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then((response) => {
            return response.json();
        }).then((jsonObject) => {
            let d = new Date();
            d.setTime(d.getTime() + (31 * 24 * 60 * 60 * 1000)); //31 dayes
            let expDate = d.toGMTString();
            document.cookie = JSON.stringify(jsonObject) + "; expires=" + expDate + ";path=/";
        });
    }

    // if (document.cookie && document.cookie!==''){
    //     cookieData = JSON.parse(document.cookie)
    //     if ( cookieData.token ){
    //         let myToken = cookieData.token;
    //         // fetch('http://www.google.com/', {
    //         //     method: "GET"
    //         // });
    //         console.log('token inited')
    //     }
    // }

    console.log('COOKIES: ',document.cookie)


</script>