<body>
    <div data-gjs="navbar" id="nav_bar" class="navbar">
        <div class="navbar-container">
            <a href="/" class="navbar-brand" id="banner"></a>
            <div id="navbar" class="navbar-burger">
                <div class="navbar-burger-line">
                </div>
                <div class="navbar-burger-line">
                </div>
                <div class="navbar-burger-line">
                </div>
            </div>
            <div data-gjs="navbar-items" class="navbar-items-c">
                <nav data-gjs="navbar-menu" class="navbar-menu">
                    <a href="#" id="nacbar_logout" class="navbar-menu-link" onclick="logout()">Logout</a>
                </nav>
            </div>
        </div>
    </div>
    <div id="table" class="row">
        <div id="left_cell" class="cell">
            <h2 id="greeting_labal">Hello, <%= name%></h2>
            <div id="upload_container">
                <input id="filesChoice" type="file" name="fileToUpload" />
                <button type="button" id="upload_btn" onclick="uploadFile()">upload</button>
            </div>
            <div id="filename_container">
                <h3 id="file_upload_labal">File Uploaded:&nbsp</h3>
                <p name="fileList" id="fileList">Please upload file to continue</p>
            </div>
            <div id="geners_container">
                <label for="genres" id="genres_lbl">Choose a genres:</label>
                <select name="genres" id="genres">
                    <!-- <option value="opt1">opt1</option>
                        <option value="opt2">opt2</option>
                        <option value="opt3">opt3</option> -->
                </select>
            </div>
            <button type="button" id="compose_btn" onclick="compose()">compose</button>
        </div>
        <div id="right_cell" class="cell">
            <div id="scroll_audios">
                <!-- <div class="audio_row">
                    <label for="filename_audio_player" class="filename_mid">filename.mid</label>
                    <audio id="filename_audio_player" controls controlslist="nodownload" class="audio_player">
                        <source src="https://www.w3schools.com/html/horse.ogg" type="audio/ogg" />
                        <source src="https://www.w3schools.com/html/horse.mp3" type="audio/mpeg" />
                        Your browser does not support the audio element.
                    </audio>
                    <div class="audio_btns">
                        <button type="button" id="filename_audio_download" class="audio_download_btm">Download</button>
                        <button type="button" id="filename_audio_delete" class="audio_delete_btn">Delete</button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</body>

<script>
    var myid = '<%= userid%>'      
    console.log("MyId "+myid)    
</script>

<script type='text/javascript' src="/static/scripts/index_script.js"></script>

<link href="/static/css/index_style.css" rel="stylesheet">