<h1>Login</h1>
<body>
    <label id="errorMessage"></label>
    <div>
        <label for="email">Email: </label>
        <input type="email" id="emailInput" name="email" required>
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" id="passwordInput" name="password" required>
    </div>
    <div>
        <button type="button" onclick="login()">Login</button>
    </div>
    <a href="/register">Register</a>
</body>

<script type='text/javascript' src="/static/scripts/login_script.js"></script>