<body>
    <h1>Malhin Leaning</h1>
    <div class="center">
        <h2>Login</h2>
        <label id="errorMessage"></label>
        <div class="txt_field">
            <label for="email">Email: </label>
            <input type="email" id="emailInput" name="email" required>
        </div>
        <div class="txt_field">
            <label for="password">Password: </label>
            <input type="password" id="passwordInput" name="password" required>
        </div>
        <div >
            <button type="button" onclick="login()">Login</button>
        </div>
    </div>
    <a href="/register">Register</a>
</body>

<script type='text/javascript' src="/static/scripts/login_script.js"></script>

<link href="/static/css/login_style.css" rel="stylesheet">