<body>
    <div data-gjs="navbar" id="nav_bar" class="navbar">
        <div class="navbar-container">
            <a href="" class="navbar-brand" id="banner"></a>
            <div id="navbar" class="navbar-burger">
                <div class="navbar-burger-line">
                </div>
                <div class="navbar-burger-line">
                </div>
                <div class="navbar-burger-line">
                </div>
            </div>
        </div>
    </div>
    <!-- <h1>Malhin Leaning</h1> -->
    <div class="center">
        <h2>Login</h2>
        <!-- <label id="errorMessage"></label> -->
        <div class="txt_field">
            <label for="email">Email: </label>
            <input type="email" id="emailInput" name="email" required>
        </div>
        <div class="txt_field">
            <label for="password">Password: </label>
            <input type="password" id="passwordInput" name="password" required>
        </div>
        <label id="errorMessage" style="color: red;"></label>
        <div >
            <button type="button" onclick="login()">Login</button>
            <br>
            <br>
            <label>Don't Have Account?</label><a href="/register">Click Here</a>
        </div>
    </div>
    <!-- <a href="/register">Register</a> -->
</body>

<!-- <script>
    async function register(){
        let a = document.createElement('a');
        a.href = "/register";
        document.body.appendChild(a); // we need to append the element to the dom -> otherwise it will not work in firefox
        a.click();    
        a.remove();  //afterwards we remove the element again
    }
</script> -->

<script type='text/javascript' src="/static/scripts/login_script.js"></script>

<link href="/static/css/login_style.css" rel="stylesheet">