<title>MalhinLearning - Login</title>
<link href="/static/css/login_style.css" rel="stylesheet">
<body>
    <a class="navbar-brand" id="banner"></a>
    <div class="box">
        <h1>Login</h1>
        <div class="txt_field">
            <input type="email" id="emailInput" name="email" placeholder="Email" required>
        </div>
        <div class="txt_field">
            <input type="password" id="passwordInput" name="password" placeholder="Password" required>
        </div>
        <div >
            <button type="button" onclick="login()">Login</button>
            <label id="errorMessage" style="color: red;font-size: small;"></label>
            <br>
            <br>
            <label>Don't Have Account?</label><a href="/register">Click Here</a>
        </div>
    </div>
</body>

<script type='text/javascript' src="/static/scripts/login_script.js"></script>