<title>MalhinLearning - Register</title>
<link href="/static/css/register_style.css" rel="stylesheet">
<body>
    <a href="" class="navbar-brand" id="banner"></a>
    <div class="box">
        <h1>Register</h1>
        <div class="txt_field">
            <input type="text" id="nameInput" name="name" placeholder="Full Name" required>
        </div>
        <div class="txt_field">
            <input type="email" id="emailInput" name="email" placeholder="Email" required>
        </div>
        <div class="txt_field">
            <input type="password" id="passwordInput" name="password" placeholder="Password" required>
        </div>
        <div class="txt_field">
            <input type="password" id="passwordInput_v" name="password_v" placeholder="Verify Password" required>
        </div>
        <label id="errorMessage" style="color: red;"></label>
        <div>
            <button type="button" onclick="register()">Register</button>
            <br>
            <br>
            <label>Already Registered?</label><a href="/login">Click Here</a>
        </div>
    </div>
</body>

<script type='text/javascript' src="/static/scripts/register_script.js"></script>